@include b(color-picker) {
  position: relative;
  width: 100%;
  height: 340px;
  box-sizing: border-box;
  padding: 10px;
  //color: #999999;

  @include e(main) {
    padding: 10px 0 0;

    .color-main {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .color-panel {
      position: relative;
      width: 256px;
      height: 256px;
      background: #ffffff;
    }
    .color-panel-inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      &.white {
        z-index: 1;
        background: -webkit-gradient(linear,left top,right top,color-stop(0%,#fff),color-stop(100%,rgba(255,255,255,0)));
        background: linear-gradient(to right,#fff 0%,rgba(255,255,255,0) 100%);
      }
      &.black {
        z-index: 2;
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,transparent),color-stop(100%,#000));
        background: linear-gradient(to bottom,transparent 0%,#000 100%);
      }
    }
    .color-bar {
      position: relative;
      width: 16px;
      height: 256px;
      box-sizing: border-box;
      margin-left: 14px;
      &.opacity {
        background: url("../assets/background/opacity-bg.png");
      }
    }
    .color-bar-inner {
      position: relative;
      width: 16px;
      height: 256px;
      background: linear-gradient(to bottom,red 0,#ff0 17%,#0f0 33%,#0ff 50%,#00f 67%,#f0f 83%,red)
    }
    .color-bar-opacity {
      position: relative;
      width: 16px;
      height: 256px;
      background: linear-gradient(to bottom, RGBA(0,0,0,0), RGBA(255, 255, 255, 255))
    }

    .color-bar-pointer {
      position: absolute;
      top: 50px;
      width: 16px;
      height: 0;
      &:before {
        position: absolute;
        top: -8px;
        content: " ";
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #ffffff;
        box-shadow: 0 1px 6px 0 rgba(0,0,0,.5  );
        z-index: 10;
        cursor: pointer;
      }
    }
    .color-opacity {
    }
  }
  @include e(aside) {
    overflow: hidden;
    padding-top: 10px;
    .aside-inner {

    }
    .color-compare {
      width: 100%;
      height: 110px;
      margin-bottom: 10px;
    }
    .color-compare-item {
      width: 65px;
      .item-text {
        line-height: 15px;
        width: 100%;
        height: 20px;
        text-align: center;
        font-size: 12px;
      }
      .item-inner {
        width: 100%;
        height: 35px;
        background: #000000;
      }
      .item-inner + .item-text {
        padding-top: 5px;
      }
    }

    .color-value {
      text-align: center;
    }
    .color-value-title {
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 3px;
    }
    .eo-input {
      margin-bottom: 8px;
      .el-input__inner {
        height: 22px;
        line-height: 22px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
      }
    }
  }
}