@include b(input) {
  .el-input__inner {
    background: #2e2e2e;
    border-color: #3e3e3e;
    color: #c0c4cc;
    outline: none;
    &:hover{
      background: #2a2a2a;
    }
    &:focus {
      border-color: $--color-primary;
    }
  }
}