@include b(spliter) {
  position: absolute;
  z-index: 99;
  @include when(vertical) {
    top: 0;
    bottom: 0;
    width: 10px;
    cursor: ew-resize;
    .spliter-inner {
      position: absolute;
      top: 0;
      left: 3px;
      display: block;
      width: 4px;
      height: 100%;
    }
  }
  @include when(horizontal) {
    left: 0;
    right: 0;
    width: 10px;
    cursor: ns-resize;
    .spliter-inner {
      position: absolute;
      left: 0;
      top: 3px;
      display: block;
      height: 4px;
      width: 100%;
    }
  }
  @include when(dragging) {
    .spliter-inner {
      background: $--color-primary;
    }
  }
}
@include b(spliter-mask) {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: RGBA(0, 0, 0, 0);
  z-index: 98;
}