
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Microsoft YaHei', 'Avenir', Helvetica, Arial, sans-serif;
  background: $--color-body-background;
  color: $--color-font-base;
  font-size: 14px;
}
@include b(app) {
  position: relative;
  width: 100%;
  height: 100%;
}
@include b(container) {
  position: relative;
}
@include b(header) {
  border-bottom: 1px solid #151515;
  background: #484848;
  box-sizing: border-box;
  height: 100%;
  @include e(title-bar) {
    display: flex;
    width: 100%;
    height: 24px;
  }
}
@include b(left-aside) {
  border-right: 1px solid #151515;
  background: #2e2f30;
}
@include b(right-aside) {
  border-left: 1px solid #151515;
  background: #2e2f30;
  height: 100%;
}
@include b(app-main) {
  padding: 0;
  @include e(inner) {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 32px;
    box-sizing: border-box;
  }
  @include e(tabs) {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
